/* палітра документa */
:root {
  /* капелюх background  */
  --white-primary: #ffffff;
  /* background підвалу */
  --black-background: #2f303a;
  /* background секція наша команда і портфоліо*/
  --our-tim-background: #f5f4fa;
  /* основний колір тексту */
  --text-color: #757575;
  /* колір заголовків */
  --text-titles-color: #212121;
  /* колір акценту */
  --accent-color: #2196f3;
  --logo-color-header: #000000;
  /* колір активного стану кнопки */
  --button-active-color: #188ce8;
  --border-header: #ececec;
  --border-cards-portfolio: #eeeeee;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--white-primary);
  color: var(--text-color);

  font-family: roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
}
/* утеліти */
.centred {
  text-align: center;
}
.section.no-top-pading {
  padding-top: 0;
}

.img-no-gap {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* списки */
.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* секції */
.container {
  width: 1200px;
  padding: 0 15px 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* загальні властивості тексту в логотипі */
.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/* властивості кольору логотипу heder*/
.logo-header {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo-span-hader {
  color: var(--logo-color-header);
}
/* навігація */
.header-container {
  border-bottom: solid 1px var(--border-header);
}
.nav-flex {
  display: flex;
  align-items: center;
}

.mail-tel {
  margin-left: auto;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-titles-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav {
  display: flex;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .contakt {
  color: var(--text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.link {
  text-decoration: none;
}
/* виділення поточної сторінки */
.site-nav .curent {
  color: var(--accent-color);
}

/* оформлення заголовків в секціях */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--text-titles-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
/* секція герой */
.hero {
  background-color: var(--black-background);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;

  color: var(--white-primary);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .button {
  padding-bottom: 200px;
  min-width: 216px;
  padding: 10px 32px;
}
/* оформлення кнопок */
.button {
  cursor: pointer;

  background-color: var(--accent-color);
  color: var(--white-primary);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border-radius: 4px;
  border: none;
}

.button-radio {
  color: var(--text-titles-color);
  background: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.button.button-radio:hover,
.button.button-radio:focus {
  background-color: var(--accent-color);
  color: var(--white-primary);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
}
.button:hover,
.button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: var(--button-active-color);
}
.button:active {
  background-color: var(--button-active-color);
}
/* секція наші переваги */
.list-denefits {
  display: flex;
}
.list-denefits .item {
  width: 270px;
}

.list-denefits .item + .item {
  margin-left: 30px;
}

.section-title.denefits {
  margin-top: 0px;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}

.text-denefits {
  margin-top: 0;
  margin-bottom: 0;
}

/* секція наша команда */
.list-our-tim {
  display: flex;
}
.list-our-tim .item + .item {
  margin-left: 30px;
}
.img-desc {
  min-width: 270px;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;

  text-align: center;

  background-color: var(--white-primary);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.our-tim {
  background-color: var(--our-tim-background);
}

.section-title.card-name {
  font-weight: 500;
}
.section-title.card-name,
.card-profesion {
  font-size: 16px;
  line-height: 1.19;
}
.card-name {
  margin-bottom: 10px;
}
.card-profesion {
  margin-top: 0;
  margin-bottom: 0;
}
/* чим займаємось */
.list-our-works {
  display: flex;
}

.list-our-works .item + .item {
  margin-left: 30px;
}
/* портфоліо */

.button-radio {
  display: block;
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-top: 6px;
  min-width: 73px;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.list-button-radio {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}
.list-button-radio .item + .item {
  margin-left: 8px;
}
/* секція портфоліо */
.cards-portfolio-desc {
  max-width: 370px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border: 1px solid var(--border-cards-portfolio);
  border-top: 0px;
}
.section-title.card-portfolio {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.examples .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.examples {
  display: flex;
  flex-wrap: wrap;
}
.text-exemples {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 30px;
}

/* підвал сайту */
.footer-decor {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--black-background);
}

.footer-decor address {
  font-style: normal;
}
.link-map {
  color: var(--white-primary);
}

.link-map:hover,
.link-map:focus {
  color: var(--accent-color);
}

.link-addr {
  color: rgba(255, 255, 255, 0.6);
}

.link-addr:hover,
.link-addr:focus {
  color: var(--accent-color);
}

/* властивості кольору логотпу footer */
.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.logo-span-footer {
  color: var(--white-primary);
}

.list-addres .item:not(:last-child) {
  margin-bottom: 9px;
}
